<div class="banner">
  <div class="backgroundImage">
    <img class='banner' src="media/banner2.jpeg" alt="" />
    {{!-- <div class="logo">
      <img src="media/medium_K_R__1_Shadow.png" alt="" />
    </div> --}}
  </div>
</div>
<div class="biography">
  <h1>Biography</h1>
</div>
